.links {
  display: block;
  background-color: var(--color-blue02);
}
.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
