main {
  width: 100vw;
  background-color: #dbdbdb;
}
.container {
  /* 카드 내용물들 중앙화  */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  /* 카드들을 flex화(가로화) */
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.card {
  /* 그림과 글씨를 flex화 */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.imageBox {
  /* 이미지 테두리와 쉐도우잉 넣어줌 */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px;
  border-radius: 16px;
}

.title {
  font-size: 30px;
}
