@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 30px;
  width: 100vw;
  height: 64px;
  font-family: "Pretendard-Regular";
}

nav {
  width: 90%;
  margin: 0 auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBox {
  width: 80px;
  height: 60px;
}

.logoBox > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.linksBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 32px;
  display: flex;
  gap: 5px;
}

.linksBox > span {
  padding: 18px 32px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 32px;
}

.linksBox > span:hover {
  background: rgb(19, 168, 158);
  background: linear-gradient(
    0deg,
    rgba(19, 168, 158, 1) 0%,
    rgba(71, 152, 171, 1) 100%
  );
  color: white;
}

.loginBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.register {
  color: #71717a;
  font-weight: bold;
}

.login {
  color: #13a89e;
  font-weight: bold;
  border: 1px solid #13a89e;
  border-radius: 32px;
  padding: 6px 16px;
  line-height: 24px;
}
